<div class="container-fluid">
  <div class="row page-title align-items">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Add New Snippet</h4>
    </div>
  </div>
  <form (ngSubmit)="save()" [formGroup]="newSnippetForm">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-horizontal">

              <!--Name Field-->
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="control-label">Name of Snippet</label>
                    <input class="form-control" placeholder="Enter Name of Snippet" type="text" name="name"
                      formControlName="name" [ngClass]="{ 'is-invalid': form.name.touched && form.name.errors }"
                      required />
                    <div *ngIf="form.name.touched && form.name.errors" class="invalid-feedback">
                      <span *ngIf="form.name.errors.required">This value is required.</span>
                    </div>
                  </div>
                </div>
              </div>

              <!--Description Field-->
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" placeholder="Description of Snippet" type="text" name="description"
                      formControlName="description"
                      [ngClass]="{ 'is-invalid': form.description.touched && form.description.errors }" rows="2"
                      required></textarea>
                    <div *ngIf="form.description.touched && form.description.errors" class="invalid-feedback">
                      <span *ngIf="form.description.errors.required">This value is required.</span>
                    </div>
                  </div>
                </div>
              </div>


              <!--Category-->
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="control-label">Category</label>
                    <ng-select formControlName="categoryId">
                      <ng-option *ngFor="let cat of categories" [value]="cat.id">{{cat.categoryType}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>

              <!--Topic-->
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="control-label">Topic</label>
                    <input type="text" class="form-control" formControlName="topicId" [ngbTypeahead]="search" />
                  </div>
                </div>
              </div>


              <!--Code Snippet-->
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="control-label">Code Snippet</label>
                    <pre *ngIf="code">
                    <code [highlight]="code" [lineNumbers]="true" (highlighted)="onHighlight($event)"></code>
                  </pre>
                  </div>
                  <!-- <div *ngIf="!code">
                    <span class="text-warning font-size-20">Click On Edit to Add A New Snippet Code</span>
                  </div> -->
                  <ngb-alert type="warning" *ngIf="!code" [dismissible]="false">
                    Click On Edit to Add A New Snippet Code
                  </ngb-alert>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="float-right">
                    <div class="btn">
                      <button type="button" class="btn btn-primary btn-round" (click)="newSnippet()">
                        <i class="uil uil-edit-alt"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-right pt-4">
              <button type="submit" class="btn btn-success save-event ml-1" [disabled]="newSnippetForm.invalid">
                Save
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>

<app-snippet-modal #newSnippetModal (snippetAdded)="onSnippetAdded($event)"></app-snippet-modal>
