<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Snippets</h4>
    </div>
    <div class="col-sm-8 col-xl-6">
      <form class="form-inline float-sm-right mt-3 mt-sm-0">
        <div class="form-group mb-sm-0 mr-2">
          <div class="btn">
            <button type="button" class="btn btn-primary" (click)="newSnippet()">
              <i class="uil uil-file-plus-alt mr-1"></i>Add Snippet
            </button>
          </div>
        </div>
      </form>
    </div>


  </div>

  <div class="row">
    <div class="col-xl-4">
      <div class="card" style="height: 10rem;" (click)="loadCard()">
        <div class="card-body pt-8">
          <h5>Random Values</h5>
          <p>Generates random values of numbers</p>
          <hr>
          <div class="left">
            <p>by John Doe</p>
          </div>
          <div class="right">
            <p>8/16/2021</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card" style="height: 10rem;" (click)="loadCard()">
        <div class="card-body pt-8">
          <h5>Return the largest numbers in array</h5>
          <p>Returns largest numbers in array</p>
          <hr>
          <div class="left">
            <p>by Jane Doe</p>
          </div>
          <div class="right">
            <p>4/16/2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="col-lg-2 col-form-label">Name of Snippet</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" value="Random Values" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-form-label">Description</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" rows="3"
                      disabled>C# Random class provides functionality to generate random numbers in C#. The following code returns a random number between the min and the max range.</textarea>
                  </div>
                </div>
                <label class="col-lg-2 col-form-label">Code Snippet</label>
                <div class="col-10">
                  <pre>
                    <code [highlight]="code" [lineNumbers]="true" (highlighted)="onHighlight($event)"></code>
                  </pre>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="col-lg-2 col-form-label">Name of Snippet</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" value="Return the largest numbers in arrays in JavaScript"
                      disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-form-label">Description</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" rows="3"
                      disabled>Our input here is an array of arrays. Our output is an array. Ultimately, we need to pluck the largest number from each group of numbers given to us and return those largest numbers in an array.</textarea>
                  </div>
                </div>
                <label class="col-lg-2 col-form-label">Code Snippet</label>
                <div class="col-10">
                  <pre>
                    <code [highlight]="code1" [lineNumbers]="true" (highlighted)="onHighlight($event)"></code>
                  </pre>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- <app-new-snippet #newSnippetModal></app-new-snippet> -->
