<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Snippets</h4>
    </div>
    <div class="col-sm-8 col-xl-6">
      <form class="form-inline float-sm-right mt-3 mt-sm-0">
        <div class="form-group mb-sm-0 mr-2">
          <div class="btn">
            <button type="button" class="btn btn-primary">
              <i class="uil uil-plus-circle mr-1"></i>Add Snippet
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
